---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

<div class="row">
  {% capture n  %}{{ site.posts | size | divided_by:3}}{% endcapture %}
  {% capture m %} {{ n | times:2 }}{% endcapture %}

  <div class="col-md-3">

  {% for post in site.posts limit:n %}
    {{ post.date | date: "%b %-d, %Y" }}
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
  {% endfor %}

  </div>

  <div class="col-md-3">

  {% for post in site.posts limit:n offset:n%}
    {{ post.date | date: "%b %-d, %Y" }}
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
  {% endfor %}

  </div>

  <div class="col-md-3">

  {% for post in site.posts limit:n offset:m %}
    {{ post.date | date: "%b %-d, %Y" }}
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
  {% endfor %}

  </div>
</div>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
